pipeline/archive database to another db.json
{
	"name": "archive database to another db",
	"properties": {
		"activities": [
			{
				"name": "get database table names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TABLE_NAME as tableName, TABLE_SCHEMA as tableSchema from INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGenericParamedSqlAuth",
						"type": "DatasetReference",
						"parameters": {
							"ds_domain_name": {
								"value": "@pipeline().parameters.pl_source_domain_name",
								"type": "Expression"
							},
							"ds_database": {
								"value": "@pipeline().parameters.pl_source_database",
								"type": "Expression"
							},
							"ds_username": {
								"value": "@pipeline().parameters.pl_source_username",
								"type": "Expression"
							},
							"ds_password": {
								"value": "@pipeline().parameters.pl_source_password",
								"type": "Expression"
							},
							"ds_schema": null,
							"ds_table": "none"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get database table names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get database table names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy Table to Table Generic",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pl_source_database": {
										"value": "@pipeline().parameters.pl_source_database",
										"type": "Expression"
									},
									"pl_source_table": {
										"value": "@item().tableName",
										"type": "Expression"
									},
									"pl_source_schema": {
										"value": "@item().schemaName",
										"type": "Expression"
									},
									"pl_sink_table": {
										"value": "@item().tableName",
										"type": "Expression"
									},
									"pl_sink_schema": {
										"value": "[@{pipeline().parameters.pl_source_database}].[@{item().schemaName}]",
										"type": "Expression"
									},
									"pl_sink_database": {
										"value": "@pipeline().parameters.pl_sink_database",
										"type": "Expression"
									},
									"pl_sink_domain_name": {
										"value": "@pipeline().parameters.pl_sink_domain_name",
										"type": "Expression"
									},
									"pl_source_domain_name": {
										"value": "@pipeline().parameters.pl_source_domain_name",
										"type": "Expression"
									},
									"pl_source_username": {
										"value": "@pipeline().parameters.pl_source_username",
										"type": "Expression"
									},
									"pl_source_password": {
										"value": "@pipeline().parameters.pl_source_password",
										"type": "Expression"
									},
									"pl_sink_username": {
										"value": "@pipeline().parameters.pl_sink_username",
										"type": "Expression"
									},
									"pl_sink_password": {
										"value": "@pipeline().parameters.pl_sink_password",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pl_source_domain_name": {
				"type": "string",
				"defaultValue": "datametic-adf-learning.database.windows.net"
			},
			"pl_source_database": {
				"type": "string",
				"defaultValue": "discord-chat"
			},
			"pl_source_username": {
				"type": "string",
				"defaultValue": "sipakhti"
			},
			"pl_source_password": {
				"type": "string",
				"defaultValue": "Bingo_12345"
			},
			"pl_sink_domain_name": {
				"type": "string",
				"defaultValue": "datametic-adf-learning.database.windows.net"
			},
			"pl_sink_database": {
				"type": "string",
				"defaultValue": "backup"
			},
			"pl_sink_username": {
				"type": "string",
				"defaultValue": "sipakhti"
			},
			"pl_sink_password": {
				"type": "string",
				"defaultValue": "Bingo_12345"
			}
		},
		"annotations": []
	}
}