pipeline/Task1.json
{
	"name": "Task1",
	"properties": {
		"description": "\n1) Fetching limited rows\n\n2) Copy the rows in an another , By changing the one filed \n\n3) Table , Log how many rows you processed , pipeline name , pipeline run id , run date \n\nsource table , target table\n",
		"activities": [
			{
				"name": "get_table_total_rows",
				"description": "returns the total number of the table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_get_row_count]",
						"storedProcedureParameters": {
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_table",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGenericConnection",
						"type": "DatasetReference",
						"parameters": {
							"ds_table": {
								"value": "@pipeline().parameters.pl_table",
								"type": "Expression"
							},
							"ds_schema": {
								"value": "@pipeline().parameters.pl_schema",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "batch_iterator",
				"description": "iterates through a table in batches",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_table_total_rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@int(activity('get_table_total_rows').output.firstRow.rowCount)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pl_database": {
				"type": "string",
				"defaultValue": "discord-chat"
			},
			"pl_table": {
				"type": "string",
				"defaultValue": "chats"
			},
			"pl_schema": {
				"type": "string",
				"defaultValue": "dbo"
			}
		},
		"annotations": []
	}
}