pipeline/Task1.json
{
	"name": "Task1",
	"properties": {
		"description": "\n1) Fetching limited rows\n\n2) Copy the rows in an another , By changing the one filed \n\n3) Table , Log how many rows you processed , pipeline name , pipeline run id , run date \n\nsource table , target table\n",
		"activities": [
			{
				"name": "get_table_total_rows",
				"description": "returns the total number of the table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_get_row_count]",
						"storedProcedureParameters": {
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pl_table",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGenericConnection",
						"type": "DatasetReference",
						"parameters": {
							"ds_table": {
								"value": "@pipeline().parameters.pl_source_table",
								"type": "Expression"
							},
							"ds_schema": {
								"value": "@pipeline().parameters.pl_source_schema",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "batch_iterator",
				"description": "iterates through a table in batches",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_table_total_rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, activity('get_table_total_rows').output.firstRow.rowCount / int(pipeline().parameters.pl_batch_size))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"df_source_schema": {
											"value": "'@{pipeline().parameters.pl_source_schema}'",
											"type": "Expression"
										},
										"df_source_table": {
											"value": "'@{pipeline().parameters.pl_source_table}'",
											"type": "Expression"
										},
										"df_sink_schema": {
											"value": "'@{pipeline().parameters.pl_sink_schema}'",
											"type": "Expression"
										},
										"df_sink_table": {
											"value": "'@{pipeline().parameters.pl_sink_table}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"ds_table": {
												"value": "@pipeline().parameters.pl_source_table",
												"type": "Expression"
											},
											"ds_schema": {
												"value": "@pipeline().parameters.pl_source_schema",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pl_database": {
				"type": "string",
				"defaultValue": "discord-chat"
			},
			"pl_source_table": {
				"type": "string",
				"defaultValue": "chats"
			},
			"pl_source_schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"pl_batch_size": {
				"type": "string",
				"defaultValue": "4000"
			},
			"pl_sink_table": {
				"type": "string",
				"defaultValue": "chat_task_one"
			},
			"pl_sink_schema": {
				"type": "string",
				"defaultValue": "task_one"
			}
		},
		"variables": {
			"last_accessed_row": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}